/* 

  Page:         Css Styles Stylesheet
  Purpose:      Aesthetic and Visual Component Stylesheet
  Author:       Reeve C Jarvis
  Last Update:  12-08-2020

*/

/* General Styles */

html {
  background: url(bwPhotos/blackandwhitebackground.svg) center center/cover
      no-repeat fixed,
    black;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgba(24, 24, 24, 0.6);
}

header {
  background-color: rgba(0, 0, 0, 0.6);
}

footer {
  background-color: rgba(15, 15, 15, 0.6);
}

h1,
h2,
h3 {
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

p {
  font-weight: normal;
}

ul,
li {
  text-align: center;
}

img {
  border-radius: 1em;
}

hr {
  border: solid black;
}

/* Header Styles */

img#logo {
  border-radius: 0%;
}

nav#tabs li {
  background-color: rgba(15, 15, 15, 0.6);
  letter-spacing: 3px;
  line-height: 30px;
}

nav#tabs li a {
  color: white;
}

nav#tabs li:hover {
  background-color: rgba(146, 146, 146, 0.6);
}

/* Footer Styles*/

footer li:hover {
  background-color: rgba(146, 146, 146, 0.6);
}

div#tag {
  font-size: small;
}

div#links ul li a {
  color: white;
  text-decoration: none;
}

img.socials:hover {
  opacity: 0.7;
}

/* About Me Page Styles */

section#self {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1em/1.5em;
  border: solid black;
  font-size: 1.2em;
}

article#aboutme h2 {
  font-size: 1.1em;
  text-align: left;
}

section#partners h1,
section#adventures h1 {
  text-align: left;
}

img.partners {
  border-radius: 1em;
}

figcaption {
  font-size: 1.5em;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
}

#caption {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  color: white;
}

.closeModal {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.closeModal:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.galleryImage:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* Portfolio Page Styles */

section#intro {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid black;
  border-radius: 1em;
}

div#skills {
  border: solid black;
  border-radius: 1em;
}

div#skills h2 {
  font-size: 1.2em;
}

div.text a {
  color: white;
}

div.text a:hover {
  color: rgba(168, 168, 168, 0.6);
}

section.portfolio {
  text-align: left;
}

section.portfolio h1 {
  text-align: left;
  font-size: 1.2em;
}

/* Game Room Page Styles */

section#games {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid black;
  border-radius: 1em;
}

div#upnext {
  border: solid black;
  border-radius: 1em;
}

div#upnext h1 {
  font-size: 1.5em;
}

section#games figcaption {
  font-size: 0.7em;
}

h2.title {
  font-size: 1.5em;
  text-align: left;
}

/* Contact Page Styles */

div.methods {
  background-color: rgba(0, 0, 0, 0.6);
  border: solid black;
  border-radius: 1em/1.5em;
}

div#contact a {
  text-decoration: none;
  color: white;
}

div#contact a:hover {
  color: rgba(168, 168, 168, 0.6);
}

img#headshot {
  border-radius: 5em/5em;
}

table#calendar {
  background: rgba(0, 0, 0, 0.25);
  border: solid black;
}

table#calendar th,
td {
  border: solid black;
  line-height: 3em;
}

table#calendar td:not(.busy):hover {
  background-color: rgba(168, 168, 168, 0.6);
  cursor: pointer;
}

td.busy {
  background-color: black;
}

button.navigate {
  background-color: inherit;
}

button.navigate:hover {
  background-color: rgba(168, 168, 168, 0.6);
  cursor: pointer;
}

/* Form Styles */

fieldset#details,
fieldset#blackoutEntry {
  border: solid black;
  border-radius: 1em;
  background-color: rgba(46, 46, 46, 0.6);
}

fieldset#logInDetails {
  border: solid white;
  border-radius: 1em;
}

input.press {
  background-color: white;
}

input:hover,
textarea:hover,
select:hover,
input.press:hover,
button:hover,
input#submitLogIn:hover,
input#logOut:hover {
  background-color: rgba(168, 168, 168, 0.6);
}

input,
textarea,
select,
button,
input#submitLogIn,
input#logOut {
  background-color: white;
  border: solid black;
  border-radius: 0.5em;
  cursor: pointer;
}
