/* 

  Page:         Animations CSS Stylesheet
  Purpose:      Minor animation abilities for modal presentation
  Author:       Reeve C Jarvis
  Last Update:  04-04-2021

*/

/* Modal Animations */

.modalImage,
#caption {
  animation-name: popup;
  animation-duration: 1s;
}

.closeModal {
  transition: 0.5s;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
